@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #54514e !default;
$background-color: #fdfdfd !default;
$brand-color:      #055472 !default;
$orange:           #f07d25 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1024px !default;

$on-palm:          600px !default;
$on-laptop:        900px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

// Custom styles
.site-header {
    //background: rgb(2,0,36);
    //background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(16,66,96,1) 100%);
    border-top: 0;
    //margin-bottom: 0.75em;
    .wrapper {
        position: relative;
    }
}

.logo {
    color: #54514e;
    padding: 13px 0 10px;
    font-size: 1.3em;
    span {
        position: relative;
        top: 2px;
        left: 5px;
        letter-spacing: 0.06em;
    }
}

.github-icon {
  svg {
      transform: scale(1.8);
      .circle {
          fill: $text-color;
          fill-opacity: 0; 
      }
      .circle:hover {
          fill-opacity: .2;
          stroke:#f07d25;
          stroke-width: 1px;
      }
  }
}

.site-header .github-icon {
  position: absolute;
  right: 25px;
  top: 47%;
}

.page-content {
    background: #efefef;
    padding: 40px 0;
}

.bg-white {
    background: $background-color;
    margin: 2em 0;
    padding: 1em 1em 2em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.accordion {
    background-color: $brand-color;
    color: $background-color;
    cursor: pointer;
    padding: 10px;
    transition: 0.4s;
    margin: 1.25em 0 0;
    display: inline-block;
    width: 100%;
    text-align: left;
    border: 0;
    line-height: 2em;
    font-size: 1em;
    &::after {
        content: '+'; 
        font-size: 32px;
        color: $background-color;
        float: right;
        margin: 5px;
        line-height: 0.7;
    }
   
  }

 .bg-white h2, .bg-white h3 {
    margin: 0;
  }

  button[aria-expanded="true"], .accordion:hover {
    background-color: #FCCB55;
    color: $text-color;
  }

  .accordion:hover::after {
    color: $text-color;
  }
  
  .panel {
    padding: 0;
    background-color: $background-color;
    //max-height: 0;
    overflow: hidden;
    //transition: max-height 0.2s ease-out;
  }

  .panel {
    max-height: 0;
    transition: max-height 5s ease-in;
  }

  .panel:not([aria-hidden="true"]) {
    max-height: 3000px;
  }
  
  button[aria-expanded="true"]::after {
    content: "\2013";
    color: $text-color; 
    font-size: 35px;
    line-height: 0.6;
  }

  table {
    color: $text-color;
    line-height: 1.3;
    td {
        vertical-align: top;
    }
    ol {
        margin-bottom: 0;
    }
    li {
        padding-bottom: 0.5em;
    }
  }

  table tr:nth-child(2n) {
    background-color: $background-color;
  }

  .footer-col-wrapper {
    margin-left: 0;
  }

  .footer-col-1, .footer-col-2, .footer-col-3 {
    width: 33%;
    padding-left: 0;
  }

  .footer-col-3 img {
    position: relative;
    top: -12px;
  }

  /* Utilities */
  .text-align-center {
    text-align: center;
  }

  .text-align-right {
    text-align: right;
  }

